$grid-columns:      12;
$grid-gutter-width: 20px;
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
);

$grid-max-widths: (
	xs: none,
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1440px,
);

$grid-gutter-widths: (
	xs: 10px,
	sm: 10px,
	md: 20px,
	lg: 20px,
	xl: 20px,
);

@import "reset";
@import "../../_neat-boostrap-grid-standalone.scss";

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}