@charset "UTF-8";
/*
neat-bootstrap-grid
Copyright 2018 Justin MacNeil
https://justinmacneil.ca/
MIT License
*/

@import "../neat/core/neat";

$grid-columns:      12 !default;
$grid-gutter-width: 30px !default;
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;

$grid-max-widths: (
	xs: none,
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
) !default;

$grid-gutter-widths: (
	xs: 10px,
	sm: 10px,
	md: 20px,
	lg: 30px,
	xl: 30px,
) !default;

$debug: false !default;

$neat-grid: (
	columns: $grid-columns,
	gutter: $grid-gutter-width,
);

$neat-grids: (
	xs: (
		columns: $grid-columns,
		gutter: map-get($grid-gutter-widths, xs),
		media: 0px
	),
	sm: (
		columns: $grid-columns,
		gutter: map-get($grid-gutter-widths, sm),
		media: 540px
	),
	md: (
		columns: $grid-columns,
		gutter: map-get($grid-gutter-widths, md),
		media: 720px
	),
	lg: (
		columns: $grid-columns,
		gutter: map-get($grid-gutter-widths, lg),
		media: 960px
	),
	xl: (
		columns: $grid-columns,
		gutter: map-get($grid-gutter-widths, xl),
		media: 1140px
	)
) !default;

.row {
	@media (min-width: map-get($grid-breakpoints, sm)) {
		.row {
			@include grid-collapse;
		}
	}
}

.container {
	@include grid-container;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

@for $i from 1 through $grid-columns {
	.col-#{$i} {
		@include grid-column($i);
	}
}

@each $grid-breakpoint-media, $grid-breakpoint-width-media in $grid-breakpoints {
	@media (min-width: $grid-breakpoint-width-media) {
		.container {
			max-width: map-get($grid-max-widths, $grid-breakpoint-media);
			@if $debug == true {
				@include grid-visual(rgba(255, 0, 0, 0.2), map-get($neat-grids, $grid-breakpoint-media));
			}
		}
		@each $grid-breakpoint, $grid-breakpoint-width in $grid-breakpoints {
			@for $i from 1 through $grid-columns {
				.col-#{$grid-breakpoint}-#{$i} {
					@include grid-column($i, map-get($neat-grids, $grid-breakpoint-media) );
				}
			}
		}
	}
}
